BasedOnStyle: Google
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 200
AllowShortIfStatementsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortLoopsOnASingleLine: false
BreakBeforeBraces: Linux
SpaceBeforeParens: ControlStatements
PointerAlignment: Left
SortIncludes: true
IncludeBlocks: Preserve